html {
  /* HTML tag init */
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
  background: #343434; }

article,aside,footer,header,nav,section {
    display: block
}cir

audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

body {
  font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
  font-size: 16px;
  background: transparent;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  margin: 0; }

ul, li {
  list-style: none outside none;
  margin: 0; }

h2, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", "Helvetica", sans-serif; }

h3, h4 {
  font-weight: lighter; }

p {
  font-size: 16px; }

.pos-abs {
  position: absolute; }

.full-size {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

ul, li {
  list-style: none outside none;
  margin: 0; }

a {
  color: #FEA91F; }

strong,
.bold {
  font-weight: bold; }

.circ-btn {
  display: table-cell;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1;
  font-size: 18px;
  position: relative;
  color: #ffffff;
  border-radius: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .circ-btn:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: "";
    border-radius: 40px;
    border: 2px solid #ffffff;
    border-color: #ffffff;
    border-top-color: transparent;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .circ-btn:hover {
    opacity: 0.8;
    color: #ffffff; }
    .circ-btn:hover:before {
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg); }
  .circ-btn:hover:before {
    border-color: #2ABF7A;
    border-top-color: transparent; }

.page-cover {
  width: 100%;
  position: fixed;
  height: 120%;
  z-index: 0;
  overflow: hidden; }
  .page-cover .cover-bg {
    /*  Page cover background image,color */
    background: url(../img/bg-default.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1; }
  .bg-gradient{
    /*  Page cover background gradient,color */
    background-image: linear-gradient(to right top, #02402e, #0f583e, #20714d, #348b5b, #49a669);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1; }

  .page-cover .bg-blur-0 {
    -webkit-filter: none;
            filter: none; }

.section .content {
  width: 100%;
  padding: 64px 0; }
  .section .content:before, .section .content:after {
    content: " ";
    display: table; }
  .section .content:after {
    clear: both; }
  @media (min-width: 601px) {
    .section .content {
      min-height: 100%; } }
  @media (min-width: 801px) {
    .section .content {
      padding: 0; } }
  .section .content .c-title {
    position: absolute;
    top: 110px;
    left: auto;
    right: 16px; }
    .section .content .c-title h2 {
      font-weight: 300;
      font-size: 18px; }
    @media (min-width: 601px) {
      .section .content .c-title {
        right: 64px;
        top: 96px; }
        .section .content .c-title h2 {
          font-size: 32px; } }
    @media (min-width: 801px) {
      .section .content .c-title {
        position: absolute;
        top: 80px;
        left: 64px; }
        .section .content .c-title h2 {
          font-size: 72px; } }
  .section .content .c-left {
    width: 100%; }
    @media (min-width: 801px) {
      .section .content .c-left {
        min-height: 100vh;
        width: 50%;
        float: left;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  @media screen and (min-width: 801px) and (min-width: 0\0) {
    .section .content .c-left {
      height: 100vh; } }
    @media (min-width: 801px) {
      .section .content .c-left {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
    .section .content .c-left .wrapper {
      padding: 32px 16px; }
      @media (min-width: 601px) {
        .section .content .c-left .wrapper {
          padding-left: 64px;
          padding-right: 64px; } }
      @media (min-width: 801px) {
        .section .content .c-left .wrapper {
          padding-top: 96px;
          padding-bottom: 96px; } }
      @media (min-width: 1025px) {
        .section .content .c-left .wrapper {
          padding-top: 96px;
          padding-bottom: 96px;
          padding-left: 64px;
          padding-right: 96px; } }
  .section .content .c-right {
    width: 100%;
    position: relative; }
    @media (min-width: 801px) {
      .section .content .c-right {
        min-height: 100vh;
        width: 50%;
        float: right;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  @media screen and (min-width: 801px) and (min-width: 0\0) {
    .section .content .c-right {
      height: 100vh; } }
    .section .content .c-right .wrapper {
      padding: 32px 16px; }
      @media (min-width: 601px) {
        .section .content .c-right .wrapper {
          padding-right: 64px;
          padding-left: 64px; } }
      @media (min-width: 801px) {
        .section .content .c-right .wrapper {
          padding-top: 96px;
          padding-bottom: 96px; } }
      @media (min-width: 1025px) {
        .section .content .c-right .wrapper {
          padding-top: 96px;
          padding-bottom: 96px;
          padding-right: 64px;
          padding-left: 96px; } }
    @media (min-width: 801px) {
      .section .content .c-right:before {
        position: absolute;
        content: "";
        background: #ffffff;
        top: 25vh;
        left: -1px;
        width: 2px;
        height: 50vh;
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg); } }
  .section .content .c-left .wrapper,
  .section .content .c-right .wrapper {
    width: 100%;
    max-width: 720px; }
    .section .content .c-left .wrapper.fit,
    .section .content .c-right .wrapper.fit {
      width: auto;
      max-width: 480px; }
      @media (min-width: 801px) {
        .section .content .c-left .wrapper.fit,
        .section .content .c-right .wrapper.fit {
          max-width: 720px; } }
  .section .content .title-desc {
    max-width: 480px; }
    .section .content .title-desc .logo img {
      height: 64px;
      width: auto; }
    .section .content .title-desc h3 {
      font-size: 2rem; }
    .section .content .title-desc h2 {
      font-size: 3rem;
      font-weight: bold; }
    .section .content .title-desc h2, .section .content .title-desc h2, .section .content .title-desc h3, .section .content .title-desc h4 {
      margin-bottom: 0.25em; }
    .section .content .title-desc ul, .section .content .title-desc li {
      list-style: circle;
      list-style-position: inside; }
    .section .content .title-desc .title h2 {
      font-size: 48px;
      line-height: 1;
      font-weight: 300; }
      @media (min-width: 601px) {
        .section .content .title-desc .title h2 {
          font-size: 72px; } }

.section .anim .anim-wrapper {
  overflow: hidden;
  display: block; }

.section .anim h2 {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  position: relative;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
          transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01); }

.section .anim h3, .section .anim h4 {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  position: relative;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
          transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01); }

.section .anim p {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  position: relative;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
          transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01); }

.section.active .anim h2 {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s; }

.section.active .anim h3, .section.active .anim h4 {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s; }

.section.active .anim p {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 1.0s;
          transition-delay: 1.0s; }

.section-home .content .cta-btns {
  margin-top: 16px; }

.section-home .content .home-logo img {
  height: 120px; }
  @media (min-width: 601px) {
    .section-home .content .home-logo img {
      height: 240px; } }
@media (max-width: 601px) {
  .title h2 {
    display: none;
  }
}
.section-home .anim .anim-wrapper {
  overflow: hidden;
  display: block; }

.section-home .anim h2 {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  position: relative;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
          transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01); }

.section-home .anim h3 {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  position: relative;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
          transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01); }

.section-home .anim p {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  position: relative;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
          transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01); }

@media (min-width: 601px) {
  .section-home .anim .home-logo,
  .section-home .anim .clock {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0;
    -webkit-transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01);
            transition-timing-function: cubic-bezier(0.52, 0.42, 0, 1.01); } }

.section-home.active .anim h2 {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s; }

.section-home.active .anim h3 {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s; }

.section-home.active .anim p {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 1.0s;
          transition-delay: 1.0s; }

.section-home.active .anim .home-logo,
.section-home.active .anim .clock {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s; }
/*  Logo Pulse Animation */
.heartbeat{
  -webkit-animation:heartbeat 2s ease-in-out infinite both;
  animation:heartbeat 2s ease-in-out infinite both }
@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);
  transform:scale(1);
  -webkit-transform-origin:center center;
  transform-origin:center center;
  -webkit-animation-timing-function:ease-out;
  animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);
      transform:scale(.98);
      -webkit-animation-timing-function:ease-out;
      animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);
        -webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);
          transform:scale(1);
          -webkit-animation-timing-function:ease-out;
          animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);
            -webkit-transform-origin:center center;
            transform-origin:center center;
            -webkit-animation-timing-function:ease-out;
            animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);
              -webkit-animation-timing-function:ease-in;
              animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);
                transform:scale(.98);
                -webkit-animation-timing-function:ease-out;
                animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);
                  transform:scale(.87);
                  -webkit-animation-timing-function:ease-in;
                  animation-timing-function:ease-in}45%{-webkit-transform:scale(1);
                    transform:scale(1);
                    -webkit-animation-timing-function:ease-out;
                    animation-timing-function:ease-out}}
.site-footer {
  position: relative;
  margin-top: 32px;
  z-index: 10; }
  .site-footer:before, .site-footer:after {
    content: " ";
    display: table; }
  .site-footer:after {
    clear: both; }
  @media (min-width: 601px) {
    .site-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding-left: 64px;
      padding-bottom: 32px; } }
  @media (min-width: 360px) {
    .site-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      padding-left: 10px;
      padding-bottom: 10px; } }

  .site-footer .contact {
    float: left;
    position: relative; }
    .site-footer .contact .socials {
      display: block;
      float: left; }
      .site-footer .contact .socials li {
        float: left;
        margin-right: 24px;
        position: relative; }
        .site-footer .contact .socials li a {
          cursor: pointer; }
        .site-footer .contact .socials li .circ-btn {
          display: inline-block;
          padding-top: 10px; }
  .site-footer .subscription {
    float: left;
    display: block; }
  @media (min-width: 601px) {
  .site-footer .subscription {
    float: right;
    position: absolute;
    right: 64px;
    bottom: 32px; } }
    @media screen and (max-width: 601px){
      .site-footer .subscription{
        width: 100%;
      }
    }
    .site-footer .subscription .title {
      padding-top: 16px;
      text-align: left;
      font-size: 16px;
      font-family: "Roboto", "Open Sans", "Helvetica", sans-serif; }
      @media (min-width: 601px) {
        .site-footer .subscription .title {
          text-align: right;
          font-size: 14px; } }
    .site-footer .subscription p {
      display: block;
      float: none;
      text-align: right;
      padding-top: 8px;
      margin-bottom: 0px;
      font-size: 14px;
      max-width: 240px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .site-footer .subscription p.gone {
        margin-bottom: 0;
        display: none; }
    .site-footer .subscription .form:before, .site-footer .subscription .form:after {
      content: " ";
      display: table; }
    .site-footer .subscription .form:after {
      clear: both; }
    .site-footer .subscription .form label {
      bottom: 32px;
      color: #ffffff;
      position: absolute;
      left: 0; }
    .site-footer .subscription .form .input {
      float: left;
      margin-right: 8px;
      margin-bottom: 0;
      width: 200px;
      background: transparent;
      font-size: 14px;
      color: #ffffff;
      border: none;
      border-bottom: 2px solid #ffffff;
      box-shadow: none;
      border-radius: 0; }
    .site-footer .subscription .form .btn {
      float: left;
      cursor: pointer; }
      .site-footer .subscription .form .btn:focus {
        box-shadow: none;
        outline: none; }
    .site-footer .subscription #mc-embedded-subscribe-form:before, .site-footer .subscription #mc-embedded-subscribe-form:after {
      content: " ";
      display: table; }
    .site-footer .subscription #mc-embedded-subscribe-form:after {
      clear: both; }
    .site-footer .subscription #mc-embedded-subscribe-form label {
      bottom: 32px;
      color: #ffffff;
      left: 0; }
      @media (min-width: 601px) {
        .site-footer .subscription #mc-embedded-subscribe-form label {
          position: absolute; } }
    .site-footer .subscription #mc-embedded-subscribe-form .indicates-required {
      display: none; }
    .site-footer .subscription #mc-embedded-subscribe-form input[type=text],
    .site-footer .subscription #mc-embedded-subscribe-form input[type=email] {
      float: left;
      margin-right: 8px;
      margin-bottom: 0;
      width: 240px;
      background: transparent;
      font-size: 14px;
      color: #ffffff;
      border: none;
      border-bottom: 2px solid #ffffff;
      box-shadow: none;
      border-radius: 0; }
      @media (min-width: 601px) {
        .site-footer .subscription #mc-embedded-subscribe-form input[type=text],
        .site-footer .subscription #mc-embedded-subscribe-form input[type=email] {
          padding-right: 80px; } }
    .site-footer .subscription #mc-embedded-subscribe-form input[type=submit],
    .site-footer .subscription #mc-embedded-subscribe-form .button,
    .site-footer .subscription #mc-embedded-subscribe-form .btn {
      float: left;
      cursor: pointer;
      position: absolute;
      background: rgba(255, 255, 255, 0.1);
      right: 0;
      bottom: 0px;
      border: 2px solid #ffffff;
      border-radius: 2px;
      font-size: 14px;
      margin-bottom: 0;
      padding: 10px 8px; }
      .site-footer .subscription #mc-embedded-subscribe-form input[type=submit]:focus,
      .site-footer .subscription #mc-embedded-subscribe-form .button:focus,
      .site-footer .subscription #mc-embedded-subscribe-form .btn:focus {
        box-shadow: none;
        outline: none; }